<div class="cstm-gallery">
  <div class="gallery-item">
    <img src="https://picsum.photos/600/600/?random">
    <div class="item-overlay">
      <p class="title">My Awesome Project</p>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="gallery-item">
    <img src="https://picsum.photos/600/600/?random">
    <div class="item-overlay">
      <p class="title">My Awesome Project</p>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="gallery-item">
    <img src="https://picsum.photos/600/600/?random">
    <div class="item-overlay">
      <p class="title">My Awesome Project</p>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="gallery-item">
    <img src="https://picsum.photos/600/600/?random">
    <div class="item-overlay">
      <p class="title">My Awesome Project</p>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="gallery-item">
    <img src="https://picsum.photos/600/600/?random">
    <div class="item-overlay">
      <p class="title">My Awesome Project</p>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
</div>
