<app-sidebar></app-sidebar>

<div class="section" id="home">
  <div class="cstm-slider">
    <div class="slider-section left">
      <div class="bio">
        <p class="text-title">Abdul Jalil Mian</p>
        <p class="text-desc">Developer</p>
        <p class="text-desc">Freelancer</p>
        <p class="text-desc">Tech Enthusiast</p>
      </div>
      <a class="more-info smooth-scroll" href="#introduction">
        <i class="fas fa-arrow-down"></i>
        <p>More information</p>
      </a>
    </div>
    <div class="slider-section right">
      <div class="picture">
        <img src="assets/images/bg.JPG">
      </div>
      <div class="social">
        <a href="https://www.linkedin.com/in/abduljalilm/" target="_blank">
          <div class="social-btn">
            <i class="fab fa-linkedin"></i>
          </div>
        </a>
        <a href="https://github.com/abduljalilm94" target="_blank">
          <div class="social-btn">
            <i class="fab fa-github"></i>
          </div>
        </a>
        <a href="https://twitter.com/AbdulJalil94" target="_blank">
          <div class="social-btn">
            <i class="fab fa-twitter"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section" id="introduction">
  <div class="container">
    <h1 class="sec-title">Introduction</h1>
    <div class="cstm-intro">
      <h1>Hi! I am a Software Engineer based in Pakistan. I love developing apps for web and phone. I am passionate
        about learning different technologies and frameworks.</h1>
      <h1>Scroll down to see some of my projects.</h1>
    </div>
  </div>
</div>

<div class="section" id="projects">
  <div class="container">
    <h1 class="sec-title">Projects</h1>
    <app-gallery></app-gallery>
  </div>
</div>

<div class="section" id="testimonials">
  <div class="container">
    <h1 class="sec-title">Testimonials</h1>
    <app-testimonials></app-testimonials>
  </div>
</div>

<div class="section" id="contact">
  <div class="container">
    <h1 class="sec-title">Contact</h1>
    <div class="cstm-contact">
      <a class="contact-links" href="mailto:abduljalilm94@gmail.com"><i class="fas fa-envelope"></i>
        abduljalilm94@gmail.com</a>
      <a class="contact-links" href="skype:abduljalil94"><i class="fab fa-skype"></i> abduljalil94</a>
      <a class="contact-links" href="https://www.linkedin.com/in/abduljalilm"><i class="fab fa-linkedin"></i>
        abduljalilm</a>
      <a class="contact-links" href="https://github.com/abduljalilm94"><i class="fab fa-github"></i> abduljalilm94</a>
      <a class="contact-links" href="https://twitter.com/AbdulJalil94"><i class="fab fa-twitter"></i> abduljalil94</a>
      <button>Save My Résumé</button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showOverlay"></div>
