<div class="cstm-test">
  <div class="slider-container" id="slider-container">
    <div class="test-slide">
      <div class="slide-content">
        <i class="fas fa-quote-left"></i>
        <p class="test-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <i class="test-name">— John Doe, CEO Doe Technologies</i>
      </div>
    </div>
    <div class="test-slide">
      <div class="slide-content">
        <i class="fas fa-quote-left"></i>
        <p class="test-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <i class="test-name">— Jane Doe, CFO Doe Corporations</i>
      </div>
    </div>
  </div>
  <div class="slider-ctrl-container">
    <div class="slider-ctrl left" onclick="prevSlide()">
      <span><i class="fas fa-less-than"></i> Previous</span>
    </div>
    <div class="slider-ctrl right" onclick="nextSlide()">
      <span>Next <i class="fas fa-greater-than"></i></span>
    </div>
  </div>
</div>
